MONGODB_URI=mongodb+srv://webmaster:webmaster@cluster0.octxyt3.mongodb.net/?appName=Cluster0
PORT=4000
JWT_SECRET=replace_this_with_a_secret
RESEND_API_KEY=hkefujrkxqzvghbtaaaa
# FROM_EMAIL=webmastersmma@gmail.com
# ADMIN_DEMO_EMAIL=admin@kizfarm.test
ADMIN_DEMO_PASSWORD=demo-password
CLOUDINARY_CLOUD_NAME=dkdw9jbxm
CLOUDINARY_API_KEY=586867851446479
CLOUDINARY_API_SECRET=498S2lOteE193-Wxc5m2VG8wDPk

# Paystack API Keys
PAYSTACK_SECRET_KEY=sk_test_your_secret_key_here
